@model IEnumerable<Proyecto_2_BD.Models.Producciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePresentacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teatros.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipos_Produccion.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePresentacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teatros.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipos_Produccion.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProduccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProduccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProduccion })
        </td>
    </tr>
}

</table>
